@model CasaRepousoWeb.Models.Responsavel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar responsavel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Cadastrar Novo Responsável</h2>
        <form asp-action="Create" method="post">
            <input type="hidden" name="ResponsavelId" value="@ViewBag.ResponsavelId" />
            <div class="form-group">
                <label for="Nome">Nome</label>
                <input type="text" class="form-control" id="Nome" name="Nome" required />
            </div>
            <div class="form-group">
                <label for="Sobrenome">Sobrenome</label>
                <input type="text" class="form-control" id="Sobrenome" name="Sobrenome" required />
            </div>
            <div class="form-group">
                <label for="CPF">CPF</label>
                <input type="text" class="form-control" id="CPF" name="CPF" required pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="Formato: 000.000.000-00" >
            </div>
            <div class="form-group">
                <label for="Telefone">Telefone</label>
                <input type="text" class="form-control" id="Telefone" name="Telefone" required />
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" id="Email" name="Email"  />
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="/responsavel/read/@ViewBag.IdosoId" class="btn btn-secondary">Voltar</a>
        </form>
    </div>
</body>
</html>
