<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serene</title>
    <!-- Incluindo Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Incluindo Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ccdbe6;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .login-container {
            background: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
        }

        .login-container h2 {
            margin-bottom: 5px;
            text-align: center;
            color: #333;
        }

        .login-container a {
            display: block;
            text-align: center;
            margin-top: 10px;
            color: #555;
            text-decoration: none;
        }

        .login-container a:hover {
            color: #000;
        }

        .hr {
            display: block;
            margin-top: 8px;
            margin-bottom: 18px;
            border: 0;
            border-top: 1px solid #eee;
        }

        label {
            margin: 0;
        }
    </style>
</head>
<body>
    <section class="login-container">
        @* <figure>
            <img src="..\img\chrysanthemum.png" alt="logo">
        </figure> *@
        <h2>Serene</h2>
        <hr class="hr">
        <form action="/Cuidadora/Login" method="post">
            <section class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="exemplo@email.com" required>
            </section>
            <section class="form-group">
                <label for="senha">Senha</label>
                <section class="input-group">
                    <input type="password" class="form-control" id="senha" name="senha" required style="border-radius: 0.25em;">
                    <button id="eye-button" class="btn" type="button" onclick="togglePasswordVisibility()" style="position: absolute; right: 0;">
                        <i class="fas fa-eye" id="togglePasswordIcon"></i>
                    </button>
                </section>
            </section>
            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            @if(ViewBag.Autenticado != null && ViewBag.Autenticado == false) {
                <section class="alert alert-danger">Usuário não reconhecido ou senha inválida.</section>
            }
        </form>
        <a href="@Url.Action("Create", "Cuidadora")"><u>Cadastrar</u></a>
    </section>
    <!-- Incluindo Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById("senha");
            const toggleIcon = document.getElementById("togglePasswordIcon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.classList.remove("fa-eye");
                toggleIcon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                toggleIcon.classList.remove("fa-eye-slash");
                toggleIcon.classList.add("fa-eye");
            }
        }
    </script>
</body>
</html>
